<a href="https://colab.research.google.com/github/Abhi926572/Abhishek-Athmakuri/blob/main/list_type.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import numpy as np
List = {1,2,3,4,5}
list1 =[3,6,1,8]
print(List)
print(list1)
print(type(list1))
print(type(List))

{1, 2, 3, 4, 5}
[3, 6, 1, 8]
<class 'list'>
<class 'set'>

In [11]:
list  = {1:"greek1",2:"Geeks",'For':3,'Geeks':6}
print("\nList with the use of Mixed Values: ")
print(list)

List with the use of Mixed Values:
{1: 'greek1', 2: 'Geeks', 'For': 3, 'Geeks': 6}

In [9]:
List = ["Geeks","For","Geeks"]
list2 = "my first lab"
list3 = 4,3
list4 = 2j+6
list5 = "My first lab"
print(type(list2))
print(type(list3))
print(type(list4))
print(type(list5))
print("\nList Items:")
print(List)
print(type(List))
print(List[0])
print(List[2])

<class 'str'>
<class 'tuple'>
<class 'complex'>
<class 'str'>

List Items:
['Geeks', 'For', 'Geeks']
<class 'list'>
Geeks
Geeks